<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoWiki</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

<body>
    <div class="page-header">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">GoWiki</a>
        </nav>
    </div>
    <div class="container">
        <form action="/save/{{.Title}}" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Editing {{.Title}}</label>
                <div><textarea class="form-control" name="body" rows="15">{{printf "%s" .Body}}</textarea></div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>